node_modules/
apps/api/uploads/
apps/api/storage/
apps/api/.env
.DS_Store
Thumbs.db
**/DerivedData/
**/*.xcworkspace
**/*.xcuserstate
**/*.xcuserdatad
**/*.xcscmblueprint
**/*.pbxuser
**/*.mode1v3
**/*.mode2v3
**/*.perspectivev3
**/Pods/
**/.gradle/
**/.idea/
**/local.properties
**/build/
**/app/build/
**/.externalNativeBuild/
**/.cxx/
